header{
    background-color: #00fa00; /*change after done*/
    position: fixed;
    top:0;
    height:4rem;
    width: 100%;
    margin: 0 auto;
    left:0;
    text-align: center;
}

footer{
    background-color: red;
    position: fixed;
    bottom:0;
    height : 2.5rem;
    width : 100%;
    margin : 0 auto;
    left:0;
}


#main-menu{
    width: 33%;
    height : 97%;
    margin-top : 0;
    display: flex;
    border: 3px solid blue;
}

#head-title{
    margin-left : 130px;
    margin-top: 10px;
}

#head-login-btn{
    margin-top: -45px;
    margin-right: -85%;
}