header{
    background-color: #00fa00; /*change after done*/
    position: fixed;
    top:0;
    height:4rem;
    width: 100%;
    margin: 0 auto;
    left:0;
    text-align: center;
}

footer{
    background-color: red;
    position: fixed;
    bottom:0;
    height : 2.5rem;
    width : 100%;
    margin : 0 auto;
    left:0;
}

#body-page{
    padding-top: 4rem; /*header height*/
    padding-bottom: 100%;
    overflow: auto; /*enable scroll*/
}

.art-mov{
    height : 200px;
    width : 90%;
    margin-left : 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border: 5px solid black;
}

/*.main-mov{*/
/*    height : 180px;*/
/*    width : 140px;*/
/*}*/

img{
    object-fit: contain;
}