@font-face {
    font-family: "Troubleside";
    src:url("../fonts/Troubleside-lgjxX.ttf") format('truetype');
}

#body-page{
    padding-top: 2rem; /*header height*/
    overflow: hidden; /*enable scroll*/
    height: 50%;
}

body{
    /*overflow-x: hidden;*/
    display: flex;
}

.art-mov{
    height : 300px;
    width : 100%;
    margin-right: 5%;
    margin-bottom: 5%;
    border: 5px solid black;
}


.main-poster{
    height : 225px;
    width : 170px;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
    margin-top: 5%;
    margin-left: 17%;
}

.main-title{
    border : 2px solid red;
    height:30px;
    width : 90%;
    margin-top:5%;
    margin-left: 5%;
    text-align: center;
    font-family: 'Troubleside', 'sans-serif';
}

.main-resume{
    margin-right: 10px;
    margin-left: 220px;
    margin-top: -215px;
    height : 200px;
    border: 3px solid #069420;
}

.login-form{
    padding-top: 10%;
    width : 60%;
    margin-left: 20%;
    height : 100%;
}

.form-control{
    margin-top: 30px;
    color: blue;
}

.login-error{
    color:red;
    font-weight: bold;
}

#pagination{
    border : 2px solid purple;
    overflow: hidden;
    width: 20%;
    margin-left: 5%;
    margin-top: 4%;
    height: 40px;
    position: fixed;
}

.test{
    padding-top: 5%;
    padding-bottom: 2rem;
    width: 20%;
    margin-left: 78%;
    border: 2px solid grey;
    overflow-y: scroll;
    overflow-x: hidden;
}

#mov-all{
    margin-top: 8%;
    margin-left: 2%;
    width : 75%;
    height : 75%;
    overflow: hidden;
    position: fixed;
    border: 2px solid turquoise;
}

.bigPoster{
    margin-top: 5%;
    margin-left: 3%;
    height: 80%;
    width : 28%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid black;
}

.bigTitle{
    margin-left: 35%;
    margin-right: 5%;
    margin-top: -40.3%;
    height: 30px;
    text-align: center;
    border: 2px solid red;
}

.bigSyn{
    margin-left: 35%;
    margin-right: 5%;
    margin-top : 3%;
    height : 50%;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    border: 2px solid coral;
}

.checkMov{
    margin-left: 35%;
    margin-top: 5%;
    width : 60%;
}

#fullPagePoster{
    margin-top: 6%;
    margin-left: 2%;
    width : 400px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid black;
}

#arrayTab{
    border: 2px solid pink;
    position: absolute;
    z-index: -1;
    margin-top: 8%;
    margin-left: 4%;
    width: 55%;
    height: 47%;
}

#titleRow{
    font-size: 28px;
    margin-top: 6%;
    text-align: center;
}

#synRow{

}

#spaceRow{
    height: 30px;
}