@font-face {
    font-family: "Troubleside";
    src:url("../fonts/Troubleside-lgjxX.ttf") format('truetype');
}

#body-page{
    padding-top: 2rem; /*header height*/
    overflow: hidden; /*enable scroll*/
    height: 50%;
}

/*body*/
#not4bootstrap{
    display: flex;
    background-color: #3d3a37;
}

/*mainPage*/
.art-mov{
    height : 300px;
    width : 100%;
    margin-right: 5%;
    margin-bottom: 5%;
    border: 3px solid #43d4be;
    border-radius: 30px;
}

/*mainPage*/
.main-poster{
    height : 175px;
    width : 170px;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
    margin-top: 5%;
    margin-left: 22%;
}

/*mainPage*/
.main-title{
    height:30px;
    width : 90%;
    margin-top:5%;
    margin-left: 5%;
    text-align: center;
    font-family: 'Troubleside', 'sans-serif';
    color: white;
}

.login-error{
    color:red;
    font-weight: bold;
}

/*mainPage*/
#pagination{
    border : 2px solid purple;
    overflow: hidden;
    width: 20%;
    margin-left: 5%;
    margin-top: 5%;
    height: 40px;
    position: fixed;
}

.test{
    padding-top: 5%;
    padding-bottom: 2rem;
    width: 20%;
    margin-left: 78%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#mov-all{
    margin-top: 8%;
    margin-left: 2%;
    width : 75%;
    height : 75%;
    color: white;
    overflow: hidden;
    position: fixed;
    border: 2px solid turquoise;
}

.bigPoster{
    margin-top: 5%;
    margin-left: 3%;
    height: 80%;
    width : 28%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.bigTitle{
    margin-left: 35%;
    margin-right: 5%;
    margin-top: -40.3%;
    height: 30px;
    text-align: center;
    font-size: 190%;
    font-family: 'Troubleside', sans-serif;
}

.bigSyn{
    margin-left: 35%;
    margin-right: 5%;
    margin-top : 3%;
    height : 50%;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.checkMov{
    margin-left: 35%;
    margin-top: 5%;
    width : 60%;
}

#fullPagePoster{
    margin-top: 6%;
    margin-left: 2%;
    width : 350px;
    background-size: contain;
    background-repeat: no-repeat;
}

#arrayTab{
    position: absolute;
    z-index: -1;
    margin-top: 8%;
    margin-left: 4%;
    width: 55%;
    height: 47%;
}

#titleRow{
    font-size: 28px;
    margin-top: 6%;
    text-align: center;
}

#spaceRow{
    height: 30px;
}

#comments{
    border: 2px solid cyan;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 7%;
    margin-bottom: 5%;
    color: white;
}

#moviePage{
    display: flex;
}

#container{
    width: 100%;
    overflow: scroll;
}

#txtComm{
    margin-top: 2%;
    width: 50%;
    margin-left: 5%;
}

.cmtBtn{
    margin-top: -4%;
}

/*login*/
.wrapper{
    margin-top: 12%;
    width: 50%;
    margin-left: 25%;
}

/*login*/
#loginMainTitle{
    text-align:center;
    padding-top: 2%;
}

/*login*/
.login-forms{
    padding-bottom: 3%;
}

/*login*/
#log-btn{
    margin-left: 40%;
    width: 20%;
}
/*login*/
#reg\?{
    margin-left: 27%;
}

/*register*/
#regTitle{
    margin-left: 38%;
    padding-top: 2%;
}
/*mainPage*/
.edit{
    margin-top: 7%;
    margin-left: 28%;
    display: inline;
}

/*mainPage*/
.outDate{
    color: white;
    display: inline;
    margin-left: 5%;
}

/*mainPage*/
#lowCard{
    display: inline;
}

/*editor*/
#editor{
    color: white;
    position: absolute;
    z-index: -1;
    margin-top: 14%;
    margin-left: 14%;
    margin-right: 14%;
}

/*editor*/
#editWritings{
    color: white;
    position: absolute;
    z-index: -1;
    margin-top: 6%;
    margin-left: 36%;
    text-align: center;
}