header{
    background-color: turquoise; /*change after done*/
    position: fixed;
    top:0;
    height:4rem;
    width: 100%;
    margin: 0 auto;
    left:0;
    text-align: center;
}

footer{
    background-color: #cfea80;
    position: fixed;
    bottom:0;
    height : 2.5rem;
    width : 100%;
    margin : 0 auto;
    left:0;
}


#main-menu{
    width: 33%;
    height : 97%;
    display: flex;
}

#head-title{
    margin-left : 130px;
    margin-top: 10px;
}

#head-login-btn{
    margin-top: -45px;
    margin-right: -85%;
}

.search{
    width: 10%;
    margin-left: -21%;
}

#searchBtn{
    margin-right: 7%;
}